@import 'roboto.css';

body{
    width: 100vw;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    background: linear-gradient(
        rgba(0, 0, 0, 0.8), 
        rgba(0, 0, 0, 0.6)), url("/img/Background-image.jpg");
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
     overflow: hidden;
}
#container{
    width: 90%;
    margin: 0 auto; 
}
header{
    height: 80px;
}
nav {
    display: flex; 
    justify-content: space-between;
}
.text{
    line-height: 80px;
    font-weight: 700;
    font-size: 1.1rem;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
ul{
    margin: 0; 
    padding: 0;
}
.contact{
    display: inline;
    line-height: 80px;
}
span{
    font-weight: 600;
}
i{
    margin-left: 5px;
}
.fa-phone-alt{
font-size: 1.1rem;
}
.car-iamge{
    max-width: 165px;
    border-radius: 5px;
}
main{
    display: flex;
    height: calc(100vh - 220px);
}
#container-for-cars{
    width: 420px;
    height: 100%;
    overflow-y: auto;
    cursor: pointer;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 3px;
    background-color: #F5F5F5;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb {
    background-color: #5596b6;
    border-radius: 2px;
}
.cars{
    max-width: 390px;
    height: 125px;
    border: 2px #FFFFFF solid;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    transition: 0.5s; 
    box-sizing: border-box; 
}
.model-of-car{
    font-size: 0.9rem;
    width: 100%;
    line-height: 1.2em;
    padding-top: 10px;
    padding-left: 10px;
    margin: 0;
    font-weight: 600;
}
footer{
    display: flex;
    justify-content: space-between;  
    height: 80px;
    align-items: center;
    flex-shrink: 0;
}
.copyright{
    font-weight: 600;
    font-size: 1rem;
}
.social-media, .support{
    font-size: 1rem;
}
@media only screen and (min-width: 750px){
    div .cars:hover{
        transform: scale(1.05);
    }
}
@media only screen and (max-width: 480px){
    footer{
        flex-direction: column;
    }
}
@media only screen and (max-width: 380px){
    .text{
        font-size: 1rem;
    }
}



